@import url('https://fonts.googleapis.com/css2?family=VT323&family=Vollkorn&display=swap');

@media (max-width: 400px) {
  .posts, .about {
    display: block;
  }
  .about img {
    width: 100%;
  }
  .about {
    display: block  !important;
  }
  .about img {
    margin-top: 0px !important;
  }
  .posts {
    display:block !important;
  }
  .skills-grid {
    display: block !important;
  }
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #fbce55 14%, #98c379 14%, #98c379 28%, #61afef 28%, #61afef 42%, #9d31ff 42%, #9d31ff 56%, #f5f 56%, #f5f 70%, #e06c75 70%, #e06c75 84%, #d19a66 84%);
}

body {
  background-color: #000;
  color: #ffe;
  font-family: 'Vollkorn', serif;
  max-width: 960px;
  margin:auto;
}

h1 {
  font-size: 40px;
}

.meta {
  margin-top:-20px;
  font-size: 12px;
}

h1, h2, h3 {
  font-family: 'VT323', monospace;
  font-weight: 100;
}

h2, h3 {
  color: #fbce55;
}

.pseudo-title {
  font-family: 'VT323', monospace;
  font-weight: 100;
  color: #fbce55;
  text-align: center;
}

.about img {
  width: calc(100% - 40px);
  transform: scaleX(-1);
  border: 2px dashed #fbce55;
  border-radius: 5px;
  padding:10px;
  margin-top: 70px;
}

.about {
  display: flex;
  padding: 25px;
}


.col {
}

.posts {
  display:flex;
  justify-content: space-between;
}

article {
  border: 2px dashed #fbce55;
  border-radius: 5px;
  padding: 10px;
  margin:auto;
  width:auto;
  flex: 1;
  margin: 10px;
}

article img {
  width: 100%;
}

header {
  padding: 25px;
}

.divider{
  height:5px;
  background: linear-gradient(90deg, #fbce55 14%, #98c379 14%, #98c379 28%, #61afef 28%, #61afef 42%, #9d31ff 42%, #9d31ff 56%, #f5f 56%, #f5f 70%, #e06c75 70%, #e06c75 84%, #d19a66 84%);
}

.about img {
  float: left;
  margin-right: 20px;
}



.section {
  padding: 25px;
  display: flow-root;
}


.yellow {
  color: #fbce55;
}

.green {
  color: #98c379;
}

.blue {
  color: #61afef;
}

.purple {
  color: #9d31ff;
}

.pink {
  color: #f5f;
}

.red {
  color: #e06c75;
}

.orange {
  color: #d19a66;
}

.see-more{
  color: #fbce55;
  font-family: 'VT323', monospace;
  font-weight: 100;
  float:right;
  margin: 25px 0px;
}

.link {
  color: #fbce55;
  font-family: 'VT323', monospace;
  font-weight: 100;
  text-decoration: underline;
  cursor: pointer;
}

.active {
  border-bottom: 2px dashed #fbce55;
}

.switch-view {
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.skill {
  margin:10px;
}
